# 忽略所有内容
*

# 保留 Python 文件
!*.py

# 保留 LaTeX 文件
!*.tex

# 保留 PDF 文件
!*.pdf

# 保留 JPG 文件
!*.jpg
!*.jpeg

# 忽略编译生成的文件夹和缓存
__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.eggs/
*.manifest
*.spec
*.log
*.cache
*.cover
*.py,cover
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/
.hypothesis/
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.mypy_cache/
.pyre/
.pytype/
cython_debug/
.ruff_cache/

# 忽略虚拟环境
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
